In [32]:
import os
import pandas as pd
from collections import namedtuple


Player = namedtuple('Player', ['champion', 'lane', 'matchID', 'platformID', 'queue', 'region', 'role', 'season', 'timestamp'], verbose=False)

# Read file directory
path = './match_data/'
file_list = os.listdir(path)

match_frames = []

for mfile in file_list:
    match_file = '{0}{1}'.format(path, mfile)
    player_name = mfile.split('.')[0]
    mframe = pd.read_csv(match_file)
    mframe['player_name'] = player_name
    match_frames.append(mframe)

match_results = pd.concat(match_frames)

In [33]:
match_results.shape

(26477, 10)

In [2]:
match_results

NameError: name 'match_results' is not defined

In [43]:
match_results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26477 entries, 0 to 1198
Data columns (total 10 columns):
champion       26477 non-null int64
lane           26477 non-null object
matchID        26477 non-null int64
platformID     26477 non-null object
queue          26477 non-null object
region         0 non-null float64
role           26477 non-null object
season         26477 non-null object
timestamp      26477 non-null int64
player_name    26477 non-null object
dtypes: float64(1), int64(3), object(6)
memory usage: 2.2+ MB

In [35]:
pd.to_datetime(match_results.timestamp)

0      1970-01-01 00:24:48.247819979
1      1970-01-01 00:24:48.241680002
2      1970-01-01 00:24:48.238864993
3      1970-01-01 00:24:48.236871351
4      1970-01-01 00:24:48.106373617
5      1970-01-01 00:24:48.103394930
6      1970-01-01 00:24:47.979184391
7      1970-01-01 00:24:47.895745626
8      1970-01-01 00:24:47.893174712
9      1970-01-01 00:24:47.833676375
10     1970-01-01 00:24:47.831027689
11     1970-01-01 00:24:47.980286860
12     1970-01-01 00:24:45.461027989
13     1970-01-01 00:24:45.365675417
14     1970-01-01 00:24:45.303863430
15     1970-01-01 00:24:45.116948047
16     1970-01-01 00:24:45.114603194
17     1970-01-01 00:24:44.946898291
18     1970-01-01 00:24:44.853778096
19     1970-01-01 00:24:44.851189956
20     1970-01-01 00:24:44.685936455
21     1970-01-01 00:24:44.683670260
22     1970-01-01 00:24:48.151553629
23     1970-01-01 00:24:47.727429345
24     1970-01-01 00:24:47.722349824
25     1970-01-01 00:24:47.486848670
26     1970-01-01 00:24:47.483711155
27     1970-01-01 00:24:47.481409036
28     1970-01-01 00:24:47.478807167
29     1970-01-01 00:24:47.476646756
                    ...
1169   1970-01-01 00:24:48.181666614
1170   1970-01-01 00:24:48.105115804
1171   1970-01-01 00:24:48.094318380
1172   1970-01-01 00:24:48.063918477
1173   1970-01-01 00:24:48.059244873
1174   1970-01-01 00:24:48.056952521
1175   1970-01-01 00:24:48.054181453
1176   1970-01-01 00:24:48.051115687
1177   1970-01-01 00:24:48.075974177
1178   1970-01-01 00:24:48.073309681
1179   1970-01-01 00:24:47.696910974
1180   1970-01-01 00:24:47.689897194
1181   1970-01-01 00:24:47.632457707
1182   1970-01-01 00:24:47.622510474
1183   1970-01-01 00:24:47.620512991
1184   1970-01-01 00:24:47.503287678
1185   1970-01-01 00:24:47.153131812
1186   1970-01-01 00:24:47.150921585
1187   1970-01-01 00:24:47.146705381
1188   1970-01-01 00:24:47.883039016
1189   1970-01-01 00:24:47.875405014
1190   1970-01-01 00:24:47.866200338
1191   1970-01-01 00:24:47.792943628
1192   1970-01-01 00:24:47.790230179
1193   1970-01-01 00:24:47.786737106
1194   1970-01-01 00:24:47.784002571
1195   1970-01-01 00:24:47.491623412
1196   1970-01-01 00:24:47.488952434
1197   1970-01-01 00:24:47.449809278
1198   1970-01-01 00:24:47.446608292
Name: timestamp, dtype: datetime64[ns]

In [36]:
from datetime import datetime

In [57]:
match_results['match_date'] = match_results.timestamp.apply(lambda x: datetime(1970, 1, 1) + timedelta(milliseconds=x))

In [58]:
match_results.head()

,champion,lane,matchID,platformID,queue,region,role,season,timestamp,player_name,match_date
0,421,JUNGLE,2438661899,NA1,TEAM_BUILDER_RANKED_SOLO,NaN,NONE,PRESEASON2017,1488247819979,An Obese Panda,2017-02-28 02:10:19.979
1,39,TOP,2438581166,NA1,TEAM_BUILDER_RANKED_SOLO,NaN,SOLO,PRESEASON2017,1488241680002,An Obese Panda,2017-02-28 00:28:00.002
2,58,TOP,2438506691,NA1,TEAM_BUILDER_RANKED_SOLO,NaN,SOLO,PRESEASON2017,1488238864993,An Obese Panda,2017-02-27 23:41:04.993
3,133,TOP,2438484705,NA1,TEAM_BUILDER_RANKED_SOLO,NaN,SOLO,PRESEASON2017,1488236871351,An Obese Panda,2017-02-27 23:07:51.351
4,85,BOTTOM,2437022468,NA1,TEAM_BUILDER_RANKED_SOLO,NaN,DUO_SUPPORT,PRESEASON2017,1488106373617,An Obese Panda,2017-02-26 10:52:53.617

In [59]:
match_results.queue.value_counts()

TEAM_BUILDER_RANKED_SOLO    23827
RANKED_FLEX_SR               2354
RANKED_PREMADE_3x3            296
Name: queue, dtype: int64

In [60]:
match_results.role.value_counts()

SOLO           9966
NONE           6568
DUO_CARRY      5037
DUO_SUPPORT    4263
DUO             643
Name: role, dtype: int64

In [62]:
match_results.player_name.value_counts()

AutoLock Saber    2332
Best Of You       2233
Bao Bao           2156
Biofrost          2090
ardnaxela         1870
Binti Jua         1826
AsianSGpøtatø     1584
Angelúmi          1562
Blooms            1485
Anthøny           1441
aphromoo          1397
Budded            1199
Arcsecond         1100
BobbyTea           990
Blud Munni         946
bu xu xiao         715
Arçee              660
An Obese Panda     495
biblee             352
Annie Bot           44
Name: player_name, dtype: int64

In [63]:
player_dict = {}

player_dict['AutoLock Saber'] = 1
player_dict['Best Of You'] = 2

In [64]:
player_dict

{'AutoLock Saber': 1, 'Best Of You': 2}

In [65]:
import json

# save to file:
with open('players.json', 'w') as f:
    json.dump(player_dict, f)

In [66]:
# load from file:
with open('players.json', 'r') as f:
    try:
        data = json.load(f)
    # if the file is empty the ValueError will be thrown
    except ValueError:
        data = {}

In [67]:
data

{u'AutoLock Saber': 1, u'Best Of You': 2}